.header {
  margin: auto;
  justify-content: center;
  width: 100%;
}
.nav {
  width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}
.nav li {
  float: right;
}
.nav li:last-child {
  border-right: none;
}
.nav li a {
  display: block;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  padding: 10px 17px;
  text-decoration: none;
}

.nav li a {
  background-color: transparent;
  position: relative;
  padding: 10px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.nav li a:before,
.nav li a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 7px;
  width: 0;
  transition: 500ms ease all;
}

#button1:before,
#button1:after {
  background-color: #e6be7e;
}

#button2:before,
#button2:after {
  background-color: #e6be7e;
}

#button3:before,
#button3:after {
  background-color: #e6be7e;
}

#button4:before,
#button4:after {
  background-color: #e6be7e;
}

.nav li a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.nav li a:hover:before,
.nav li a:hover:after {
  width: 100%;
  transition: inherit;
}

.signUp {
  background-color: #f9f5ea;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: #ffb02e;
  font-weight: bold;
}
.signUp:hover {
  background-color: #ffb02e;
  color: #f9f5ea;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.signIn {
  background-color: #f9f5ea;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: #ffb02e;
  font-weight: bold;
}
.signIn:hover {
  background-color: #ffb02e;
  color: #f9f5ea;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.menu-link {
  background-color: #ffb02e;
  padding: 15px;
  width: 150px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
  font-size: 11pt;
}
.menu-link:hover {
  background-color: #fff9fa;
  color: #ffb02e;
}
.menu-link-active {
  background-color: #fff9fa;
  color: #ffb02e;
}
.input {
  background-color: #f9f5ea;
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}
.submit {
  background-color: #f9f5ea;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: #ffb02e;
  font-weight: bold;
}
.submit:hover {
  background-color: #ffb02e;
  color: #f9f5ea;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
