@charset "utf-8";

/* 베이스 작업 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  margin: 0; /*왼쪽 오른쪽에 있는 스페이싱 없애기*/
}

.header {
  margin: auto;
  justify-content: center;
  width: 100%;
}
.nav {
  width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}
.nav li {
  float: right;
}
.nav li:last-child {
  border-right: none;
}
.nav li a {
  display: block;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  padding: 10px 17px;
  text-decoration: none;
}

.nav li a {
  background-color: transparent;
  position: relative;
  padding: 10px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.nav li a:before,
.nav li a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 7px;
  width: 0;
  transition: 500ms ease all;
}

#button1:before,
#button1:after {
  background-color: #e6be7e;
}

#button2:before,
#button2:after {
  background-color: #e6be7e;
}

#button3:before,
#button3:after {
  background-color: #e6be7e;
}

#button4:before,
#button4:after {
  background-color: #e6be7e;
}

.nav li a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.nav li a:hover:before,
.nav li a:hover:after {
  width: 100%;
  transition: inherit;
}

.signUp {
  background-color: #f9f5ea;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: #ffb02e;
  font-weight: bold;
}
.signUp:hover {
  background-color: #ffb02e;
  color: #f9f5ea;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.signIn {
  background-color: #f9f5ea;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: #ffb02e;
  font-weight: bold;
}
.signIn:hover {
  background-color: #ffb02e;
  color: #f9f5ea;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.btn1 {
  background-color: #ffb02e;
  padding: 15px;
  width: 150px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
}
.btn1:hover {
  background-color: #fff9fa;
  color: #ffb02e;
}
.btn2 {
  background-color: #ffb02e;
  padding: 15px;
  width: 150px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
}
.btn2:hover {
  background-color: #fff9fa;
  color: #ffb02e;
}
.input {
  background-color: #f9f5ea;
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}
.submit {
  background-color: #f9f5ea;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: #ffb02e;
  font-weight: bold;
}
.submit:hover {
  background-color: #ffb02e;
  color: #f9f5ea;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
/* loginbox */
.loginbox {
  width: 40%;
  height: auto;
  /* auto 기본값, 자손 높이를 인식 */
  margin: 100px auto;
  /* 블록 요소를 부모 영역의 가운데 위치하게 함 */
}

.bigtitle {
  width: 300px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 5px;
  font-weight: bold;
  border-bottom: 2px solid #ffb02e;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: #ffb02e;
}

/* loginbox title */
.loginbox h1 {
  width: 100%;
  /* 부모 영역 상속 - 550px */
  height: 80%;
  padding-top: 30px;
  box-sizing: border-box;
  /* 높이 안으로 패딩 수치를 인사이드 처리 */
  text-align: center;
  /* 부모 영역에서 이미지 가로 가운데 처리 */
}

/* loginbox form */
.loginbox form {
  width: 100%;
  height: 100%;
  border: 1px solid #c6c6c647;
  padding: 20px 25px;
  /* 자손과의 간격 조정 */
  box-sizing: border-box;
  /* 테두리를 영역 안으로 인사이드 처리 */
  border-radius: 5px;
  /* 모서리 둥글게 처리 */
  background-color: #ffffffb5;
}

.loginbox legend {
  position: absolute;
  left: -999em;
  /* 화면 밖으로 빼고, 영역도 처리하지 않도록 처리 */
}

.loginbox h2 {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.loginbox .away {
  position: absolute;
  left: -999em;
}

/* 스크린 리더기가 읽어 줘야 하는데, 화면에서는 안 보일 때 사용 */

#loginid {
  /* 아이디 선택자는 독자적이기 때문에 부모를 타고 작성하지 않아도 됨 */
  display: block;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0 45px;
  padding-top: 5px;
  /* 상하 좌우 */
  border-radius: 5px 5px 0 0;
  /* 좌측 상단을 기준으로 시계 방향 순서 */
  background-image: url(img/login_icon.png);
  background-repeat: no-repeat;
  /* 반복 안 함 */
  background-position: 15px center;
  background-size: 16px 16px;
  color: #333;
  font-size: 13px;
  /* 사용자가 입력하는 value값 설정 */
}

#loginid::placeholder {
  /* 예시 텍스트만 선택한 것 */
  color: #ccc;
  font-size: 13px;
}

#loginpass {
  display: block;
  width: 70%;
  height: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-top: none;
  padding: 0 45px;
  /* 상하 좌우 */
  padding-top: 5px;
  border-radius: 0 0 5px 5px;
  /* 좌측 상단을 기준으로 시계 방향 순서 */
  background-image: url(img/pass_icon.png);
  background-repeat: no-repeat;
  /* 반복 안 함 */
  background-position: 15px center;
  background-size: 16px 16px;
  color: #333;
  font-size: 13px;
  /* 사용자가 입력하는 value값 설정 */
}

#loginpass::placeholder {
  /* 예시 텍스트만 선택한 것 */
  color: #ccc;
  font-size: 13px;
}

#loginid:focus,
#loginpass:focus {
  /* 텍스트 상자에 초점을 받았을 때 */
  outline: none;
  /* 브라우저가 주는 초점 아웃라인 제거 */
  border: 2px solid #ffb02e;
}

/* loginbox checkline */
.loginbox .chechline {
  width: 100%;
  height: 70px;
  margin-top: 10px;
}

.loginbox .chechline .text {
  color: #666;
  font-size: 12px;
}

.loginbox .chechline input {
  /* 체크박스 둘 다 선택 */
  position: absolute;
  left: -999em;
}

.loginbox .loginchk {
  float: left;
  /* 부모 영역의 왼쪽에 붙임 */
  padding-top: 2px;
}

.loginbox .loginchk .circle {
  display: inline-block;
  /* 영역을 주기 위해 변경 */
  width: 17px;
  height: 17px;
  background-image: url(img/check_gray.png);
  background-size: cover;
  position: relative;
  top: 4px;
  cursor: pointer;
}

.loginbox .loginchk input:checked + .circle {
  /* 로그인박스의 로그인 체크가: 체크되면 + 바로 뒤에 있는 circle의 배경 이미지가 변경된다*/
  background-image: url(img/check_yellow.png);
}

/* 로그인 버튼 ㅡ 버튼도 인라인 블록임 */
.loginbox button {
  display: block;
  width: 70%;
  height: 40px;
  border: none;
  background-color: #ffb02e;
  border: 1px solid #ffb02e;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: -20px;
  cursor: pointer;
}

.loginbox button:hover {
  background-color: #ffaf2e88;
  color: #ffb02e;
  border: none;
}

/* 리스트 링크들 */
.loginbox .listbox {
  width: 100%;
  height: 60px;
}

.loginbox .listbox ul {
  width: 100%;
  height: 100%;
  /* 부모 영역 상속 */
  text-align: center;
  /* 가로 가운데 처리 */
  line-height: 60px;
  /* 한 줄 텍스트 세로 가운데 처리 */
}

.loginbox .listbox li {
  display: inline-block;
  /* 가로 가운데 올 때, 수평 나열 처리 (플로트는 센터가 없기 때문에) */
  margin: 0 10px;
  /* 상하 좌우 */
}

.loginbox .listbox li::after {
  content: "|";
  /* 파이프 문자 */
  font-size: 12px;
  color: #dadada;
  position: relative;
  left: 12px;
  top: -2px;
}

.loginbox .listbox li:last-child:after {
  display: none;
  /* 마지막 선을 제거 */
}

.loginbox .listbox a {
  /* 글자 관련은 최종 태그에 처리 */
  font-size: 13px;
  color: #666;
}
