@charset "UTF-8";

.view_menu a{
  background-color: #ffb02e;
  padding: 15px;
  width: 150px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
  font-size: 11pt;
}
